<html>
    <body>
        <h1>Here is the menu of {{name_resto}}</h1>
        {% for x in menu %}
        <ul>
            <li>{{x.name}} <a href='{{url_for('editMenuItems', resto_id=resto_identif, item_id=x.id)}}'>Edit</a> <a href='{{url_for('deleteMenuItem', resto_id=resto_identif, item_id=x.id)}}'>Delete</a></li>
            <li>{{x.description}}</li>
            <li>{{x.price}}</li>
        </ul>    
        {% endfor %} 
        <p><a href='{{url_for('showallrestaurants')}}'>See then menu of other restaurants</a></p>
        <p><a href='{{url_for('addNewMenuItem', resto_id=resto_identif)}}'>Add a new menu item to the menu of {{name_resto}} </a></p>   
    </body>    
</html>